<!-- <section class="section">
	<div class="row">
		<div class="col-md-12"></div>
	</div>
</section>
<section class="section">

</section>
<section class="section">

</section>
<section class="section">

</section>
<section class="section">

</section> -->
	
<div class="jumbotron">
	<h1 class="text-center">Home Screen</h1>
</div>
<div class="row">
	<div class="col-md-12">
		<nav class="text-center">
			<a href="">HTML</a> |
			<a href="">CSS</a> |
			<a href="">JavaScript</a> |
			<a href="">jQuery</a>
		</nav>
	</div>
</div>
<div class="row">
	<div class="col-md-8" id="main-section">
		<h3>Main Section</h3>
	</div>
	<div class="col-md-4">
		<div class="row">
			<div class="col-md-12">
				<div id="usersWrapper">
					<h3>Users:</h3>
					<p ng-repeat="user in users">{{ user.firstname + " " + user.lastname }} <i class="fa fa-remove pointer" style="color:red" ng-click="deleteUser(user)"></i></p>
				</div>
			</div>
		</div>
	</div>		
</div>