/* IMPORTS */
@import "bourbon";

/* VARIABLES */
$blue-gradient-1: #268BD2;
$purple-gradient-1: #7229d1;


/* STYLES */
body {
	@include linear-gradient($blue-gradient-1, $purple-gradient-1);
	background-repeat: no-repeat;
}
.banner {
	background-attachment: fixed;
	width: 100%;
	height: 100vh;

	&:nth-child(1) {
		background-color: blue;
	}
	&:nth-child(2) {
		background-color: red;
	}
	&:nth-child(3) {
		background-color: yellow;
	}
}
.banner {
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
}